@import "vars";
@import "global";
@import "fonts";
.header {
    background-color: #fff;
    height: 100vh;
}

.header-top {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 81px;
    color: #fff;
    font-size: 16px;
    line-height: 17px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        margin-right: 100px;
        li+li {
            margin-left: 15px;
        }
    }
    &__phionewrap {
        text-align: right;
    }
    &__num {
        font-size: 18px;
        line-height: 20px;
        display: block;
    }
    &__call {
        font-size: 11px;
        line-height: 12px;
        float: right;
        border-bottom: 1px dashed #FFFFFF;
    }
}

.slider {
    color: #fff;
    &__item {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            background-color: rgba(0, 0, 0, 0.36);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    &__info {
        position: absolute;
        max-width: 700px;
        top: 35%;
        z-index: 5;
        left: 25%;
    }
    &__title {
        font-weight: 700;
        font-size: 80px;
        line-height: 92px;
    }
    &__text {
        margin-top: 25px;
        font-size: 23px;
        line-height: 32px;
        font-weight: 500;
    }
}

.slick-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    outline: none;
    z-index: 2;
    border-radius: 70px;
    color: transparent;
    height: 50px;
    width: 50px;
}

.slick-next {
    right: 38px;
    color: transparent;
}

.header__nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    padding: 20px 0;
    &-menu {
        display: flex;
        justify-content: space-between;
        min-width: 550px;
    }
    &-link {
        color: #323232;
    }
    &-social {
        display: flex;
        justify-content: space-between;
        width: 365px;
        .social {
            display: flex;
            align-items: center;
            &__link {
                margin-right: 15px;
            }
        }
    }
}

.about {
    background-color: #fff;
    box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.14);
    padding-top: 70px;
    &__title {
        font-size: 42px;
        line-height: 60px;
        font-weight: 700;
        margin-bottom: 50px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 10px 65px;
    }
    &__item {
        font-size: 17px;
        line-height: 25px;
        font-weight: 700;
        position: relative;
        width: 200px;
        &-icon {
            position: absolute;
            width: 46px;
            height: 46px;
            border: 2px solid #31CB50;
            border-radius: 50%;
            left: -65px;
            top: -5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__inner-text {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        & p {
            max-width: 540px;
            font-size: 16px;
            line-height: 27px;
        }
    }
}

.about__info {
    padding: 70px 0;
    &-menu {
        display: flex;
        li+li {
            margin-left: 90px;
        }
    }
    &-link {
        color: #2F2F2F;
        font-size: 16px;
        line-height: 27px;
        font-weight: 700;
        border-bottom: 2px dashed transparent;
        transition: all 0.3s;
        &:hover {
            border-bottom: 2px dashed #31CB50;
        }
    }
}

.about__form {
    background-color: #F8F9F7;
    padding: 60px;
    &-title {
        font-size: 33px;
        line-height: 40px;
        font-weight: 700;
        margin-bottom: 60px;
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .about__range-form {
            display: flex;
            justify-content: space-between;
            max-width: 884px;
            width: 100%;
        }
    }
}

.about__rooms {
    min-width: 186px;
    &-btn {
        background-color: #fff;
        width: 42px;
        height: 35px;
        margin-right: -2px;
        font-weight: 700;
        cursor: pointer;
        &--active {
            background-color: #825946;
            color: #fff;
            transition: all 0.5s;
        }
    }
}

.form-title {
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 15px;
}

@import 'media';